* {
    color: var(--fontcolor);
    font-family: helvetica;
    
}

.btn {
    color: var(--btnfontcolor);
    background-color: var(--btnbg);

}
.btn {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnfontcolor);
background-color: var(--btnbg);
cursor: pointer;

}
.btn:focus { outline-style: none;}

body {
    background: var(--bg);

}

ul {
    font-family: helvetica;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}




:root {
    --green: #00ff00;
    --white: #ffff;
    --black: #000000;
}

.light-theme {
    --bg: var(--green);
    --fontcolor: var(--black);
    --btnbg: var(--black);
    --btnfontcolor: var(--white);

}

.dark-theme {
    --bg: var(--black);
    --fontcolor: var(--green);
    --btnbg: var(--white);
    --btnfontcolor: var(--black);
}